@model Product
<div class="col-sm-4">
    <div class="product-image-wrapper">

        <div class="single-products">

            <div class="productinfo text-center">
                <a asp-action="Detail" asp-controller="Product" asp-route-Id="@Model.Id">
                    <img src="~/images/Product/@Model.Images" alt="@Model.Name" />
                    <h2>$@Model.Price</h2>
                    <p>@Model.Name</p>
                    <p>Danh Mục : @Model.Category.Name</p>
                    <p>Hãng Sản Xuất : @Model.Brand.Name</p>
                    <a asp-action="AddToCart" asp-controller="Cart" asp-route-Id="@Model.Id" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>

                </a>
                    
            </div>

        </div>

        <div class="choose">
            <ul class="nav nav-pills nav-justified">
                <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
            </ul>
        </div>
    </div>
</div>
